header h1 {
  font-family: 'Pacifico', cursive;
  font-size: 35px; 
  font-style: italic;
  padding-left: 45px; 
}
header p {
  font-size: .5rem; 
  padding-left: 50px;
}
header div{
  float: left;
  width: 240px;
}
header div img{
  float:left;
}
header nav ul li{
display: inline-block; 
}
header nav ul{
  float: right;
  margin-top: 10px;
}
header nav ul li:nth-child(6n){
  margin-right: 10px;
}
nav {
  width: 960px;
  height: 48px;
  margin: 0px auto;
}
hr{
  width:960px;
  height: 15px;
  background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
  border: 0;
  margin-top: 20px;
}
main{
  width: 960px;
  margin: 0px auto;
}
#mainImage{
  width: 960px;
  margin-top: 20px;
  margin-bottom: 30px;
}
main h1{
  font-family: 'Oswald', sans-serif;
  font-size: 45px;
}
main h2{
  color: grey;
  margin-top:10px;
  font-size: .9rem;
}
main img:nth-child(1n){
  float: right;
}
main h3{
  float:right;
  color:grey;
  font-size: 0.7rem;
}
main p{
  clear: both;
  border:2x solid red;
  margin: 0px auto;
  font-family: 'Karma', serif;
  line-height: 20px;
  margin-top: 30px;
  text-indent: 30px;
}

#list{
  background-image: url("img/list-bg.png");
  margin-top: 20px;
}
#van img {
  position: relative;
  right: 890px;
}
#van h2{
  position: relative;
  left: 80px;
  top: 10px;
}
#van p{
  position:relative;
  bottom:30px;
  left: 50px;
  color: gray;
}
#van button{
  background-color: brown;
  width: 120px;
  height: 30px;
  position: relative;
  left: 850px;
  bottom: 60px;

}

footer{
  position: relative;
  left: 600px;
}
footer p{
  color: gray;
  position: relative;
  right: 70px;
  top: 30px; 
}